
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 195 78% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 195 91% 90%;
    --secondary-foreground: 195 91% 30%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8% 45.1%;
    --accent: 30 91% 63%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 90%;
    --ring: 195 78% 44%;
    --radius: 0.8rem;

    /* Custom Sidebar vars */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 195 78% 44%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 210 10% 23%;
    --sidebar-border: 210 40% 90%;
    --sidebar-ring: 195 78% 44%;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 210 40% 98%;
    --card: 210 10% 19%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 19%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 81% 55%;
    --primary-foreground: 195 81% 10%;
    --secondary: 195 81% 20%;
    --secondary-foreground: 195 81% 90%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 20% 70%;
    --accent: 30 81% 60%;
    --accent-foreground: 30 81% 10%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 195 81% 55%;
     
    /* Custom Sidebar vars for dark mode */
    --sidebar-background: 210 10% 19%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 195 81% 55%;
    --sidebar-primary-foreground: 195 81% 10%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 210 10% 30%;
    --sidebar-ring: 195 81% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.rdp-day_selected {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
  font-weight: 600;
}

/* Hide the default arrow in selects for a cleaner look */
.rdp-dropdown::-ms-expand {
  display: none;
}
.rdp-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0 4px;
}
