@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 98%;
    --foreground: 20 14% 4%;
    --card: 60 56% 91%;
    --card-foreground: 20 14% 4%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 14% 4%;
    --primary: 16 100% 66%;
    --primary-foreground: 20 14% 4%;
    --secondary: 60 56% 85%;
    --secondary-foreground: 20 14% 4%;
    --muted: 60 56% 85%;
    --muted-foreground: 20 14% 35%;
    --accent: 77 25% 45%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 59% 41%;
    --destructive-foreground: 60 56% 91%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 16 100% 66%;
    --radius: 0.5rem;

    /* Custom Sidebar vars */
    --sidebar-background: 20 14% 12%;
    --sidebar-foreground: 48 33% 94%;
    --sidebar-primary: 16 100% 66%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 20 14% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 20 14% 20%;
    --sidebar-ring: 16 100% 66%;
  }

  .dark {
    --background: 210 8% 12%;
    --foreground: 60 56% 91%;
    --card: 210 8% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 210 8% 15%;
    --popover-foreground: 60 56% 91%;
    --primary: 16 100% 66%;
    --primary-foreground: 20 14% 4%;
    --secondary: 210 8% 25%;
    --secondary-foreground: 60 56% 91%;
    --muted: 210 8% 25%;
    --muted-foreground: 60 56% 80%;
    --accent: 77 25% 45%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 59% 41%;
    --destructive-foreground: 60 56% 91%;
    --border: 210 8% 25%;
    --input: 210 8% 25%;
    --ring: 16 100% 66%;
     
    /* Custom Sidebar vars */
    --sidebar-background: 210 8% 12%;
    --sidebar-foreground: 60 56% 91%;
    --sidebar-primary: 16 100% 66%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 210 8% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 8% 25%;
    --sidebar-ring: 16 100% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
