@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 20 14% 4%;
    --card: 48 33% 98%;
    --card-foreground: 20 14% 4%;
    --popover: 48 33% 98%;
    --popover-foreground: 20 14% 4%;
    --primary: 15 78% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 8% 91%;
    --secondary-foreground: 20 14% 4%;
    --muted: 48 8% 91%;
    --muted-foreground: 20 14% 45%;
    --accent: 38 92% 50%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 8% 84%;
    --input: 48 8% 88%;
    --ring: 15 78% 44%;
    --radius: 0.5rem;

    /* Custom Sidebar vars */
    --sidebar-background: 20 14% 12%;
    --sidebar-foreground: 48 33% 94%;
    --sidebar-primary: 15 78% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 20 14% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 20 14% 20%;
    --sidebar-ring: 15 78% 50%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 48 33% 94%;
    --card: 20 14% 6%;
    --card-foreground: 48 33% 94%;
    --popover: 20 14% 4%;
    --popover-foreground: 48 33% 94%;
    --primary: 15 78% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14% 10%;
    --muted-foreground: 48 33% 85%;
    --accent: 38 92% 55%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 12%;
    --input: 20 14% 12%;
    --ring: 15 78% 50%;
     
    /* Custom Sidebar vars */
    --sidebar-background: 20 14% 4%;
    --sidebar-foreground: 48 33% 94%;
    --sidebar-primary: 15 78% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 20 14% 8%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 20 14% 10%;
    --sidebar-ring: 15 78% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
