@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 50% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 50% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 0 59% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 224 71.4% 40%;
    --accent: 16 100% 66%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 5.9% 85%;
    --input: 60 5.9% 88%;
    --ring: 0 59% 41%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 60 56% 91%;
    --card: 224 71.4% 6.1%;
    --card-foreground: 60 56% 91%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 60 56% 91%;
    --primary: 0 59% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 224 71.4% 10.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71.4% 10.1%;
    --muted-foreground: 60 56% 80%;
    --accent: 16 100% 66%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71.4% 10.1%;
    --input: 224 71.4% 10.1%;
    --ring: 0 59% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
